{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Wishlist</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

    {% block content%}

    {% endblock %}

    <div>
        
      <a href="{% url 'places_visited' %}">Places visited</a>
      <a href="{% url 'about' %}">About us</a>
      <a href="{% url 'place_list' %}">Main page</a>
    </div>

    
</body>
</html>