<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist Visited Places</title>
</head>
<body>

    <h2>Places you have visited</h2>

    {% if visited %}

    <ul>
        {%for place in visited %}
        <li>{{place.name}}</li>
        {% endfor %}
    </ul>

    {% else %}

    <p>You have not visited places</p>

    {%endif%}
    
    <a href="{% url 'place_list' %}">Main page</a>
</body>
</html>