<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Whish List</title>
</head>
<body>
    <header>
        <h1>Travel Wish List</h1>
        <h4>This app will help you manage the places that you could travel, and check the places that you have been.</h4>
    </header>
    <div class="list">

        <form method="POST" action="/ " >
            {% csrf_token %}
            {{new_place_form}}
            <button type="submit">Add</button>
        </form>

        {% for place in places %}

        <ul>
            <li>{{place.name}}, {{place.visited}}</li>
        </ul>

        {% empty %}
        <p>You have no places in yout wishlist</p>

        {% endfor %}
    </div>

</body>
</html>
